<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/a446f746-85e4-4d30-95fb-d9ae7fe24c41/resourceGroups/demo/providers/Microsoft.Web/sites/my-funcc</ResourceId>
    <ResourceGroup>demo</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://my-funcc.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://my-funcc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$my-funcc</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>